{% extends "layout.html" %}

{% block pageTitle %}
  Check your order details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "delivery-details"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form method="post">
                <h1 class="govuk-heading-xl">Check your order details</h1>
                <h2 class="govuk-heading-m">Order details</h2>
                <div class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <div class="govuk-summary-list__key govuk-!-width-one-half">
                      Company name
                    </div>
                    <div class="govuk-summary-list__value" id="companyNameValue">
                      {{ companyName }}
                    </div>
                      <span class="govuk-summary-list__actions"></span>
                  </div>
                  <div class="govuk-summary-list__row">
                    <div class="govuk-summary-list__key">
                      Company number
                    </div>
                    <div class="govuk-summary-list__value" id="companyNumberValue">
                      {{ companyNumber }}
                    </div>
                      <span class="govuk-summary-list__actions"></span>
                  </div>
                  <div class="govuk-summary-list__row">
                    <div class="govuk-summary-list__key">
                      Delivery method
                    </div>
                    <div class="govuk-summary-list__value" id="deliveryMethodValue">
                      {{ deliveryMethod }}
                    </div>
                      <span class="govuk-summary-list__actions"></span>
                  </div>
                  <div class="govuk-summary-list__row">
                    <div class="govuk-summary-list__key">
                      Delivery details
                    </div>
                    <div class="govuk-summary-list__value" id="deliveryDetailsValue">
                      {{ deliveryDetails | safe }}
                    </div>
                    <div class="govuk-summary-list__actions">
                      <a class="govuk-link" href="delivery-details">
                        Change<span class="govuk-visually-hidden"> delivery address</span>
                      </a>
                    </div>
                  </div>
                </div>
                <h3 class="govuk-heading-m">Document details</h3>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date filed</th>
                          <th scope="col" class="govuk-table__header">Type</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-half">Description</th>
                          <th scope="col" class="govuk-table__header">Fee</th>

                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      {% for filingHistoryDocument in filingHistoryDocuments %}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" id="filingHistoryDateValue{{loop.index}}">{{ filingHistoryDocument.filingHistoryDate }}</td>
                        <td class="govuk-table__cell" id="filingHistoryTypeValue{{loop.index}}">{{ filingHistoryDocument.filingHistoryType }}</td>
                        <td class="govuk-table__cell" id="filingHistoryDescriptionValue{{loop.index}}">{{ filingHistoryDocument.filingHistoryDescription }}</td>
                        <td class="govuk-table__cell" id="filingHistoryFeeValue{{loop.index}}">{{ filingHistoryDocument.filingHistoryCost }}</td>
                      </tr>
                      {% endfor %}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <h4 class="govuk-heading-s">Total</h4>
                        </td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                          <h4 class="govuk-heading-s">{{ totalCost }}</h4>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <p class="govuk-body">To make any changes to the documents selected, <a href="/company/{{companyNumber}}/certified-documents" class="govuk-body govuk-link">start the order again</a>.</p>
                {{ govukButton({
                  text: "Continue to payment",
                  id: "submit"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
