{% extends "layout.html" %}

{% set notificationHtml %}
  <p class="govuk-notification-banner__heading">
    This order will be for {{ companyName }} ({{ companyNumber }}).
    <p>If you want to order a certified document for a different company, you will need to
    <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register,</a>
    then use the 'More' tab on the company page to re-enter this service.</p>
  </p>
{% endset %}

{% block pageTitle %}
  Order a certified document - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/more"
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: notificationHtml
  }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Order a certified document</h1>
            <p class="govuk-body-l">
                Use this service to order a certified copy of a document in a company's filing history.
            </p>
            <p class="govuk-body">You'll need:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>to sign in to or create a Companies House account</li>
              <li>a debit or credit card</li>
            </ul>
            <h2 class="govuk-heading-s">Ordering incorporation documents</h2>
            <p class="govuk-body">Orders for incorporation packages consist of the certificate of incorporation and all other documents from when the company was formed.</p>
            <p class="govuk-body">You cannot use this service to order a certificate that confirms company details and can include a statement of good standing (also known as a certificate of good standing). For this, you'll need to use our <a href="{{ moreTabUrl }}" class="govuk-link" data-event-id="certificates-from-certified-copies">Order a certificate service</a>.</p>
            <p class="govuk-body">Ordering a certified document takes around 5 minutes.</p>
    
            {{ govukButton({
              text: "Start now",
              href: startNowUrl,
              classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
              isStartButton: true,
              attributes: {
                "data-event-id": "start-now-button",
                onclick: "_paq.push(['trackGoal'," + CERTIFIED_COPIES_PIWIK_START_GOAL_ID + "]);"
              }
            }) }}

            <h2 class="govuk-heading-m">Fee</h2>

            <h3 class="govuk-heading-s">Standard dispatch</h3>

            <p class="govuk-body">It costs £15 for a certified document with standard dispatch. Incorporation packages cost £30. 
              We will aim to send out the order within 10 working days.</p> 

            <p class="govuk-body">We send UK orders by Royal Mail 2nd Class post and international orders by Royal Mail International post.</p>

            <p class="govuk-body">You cannot pay using a Companies House account.</p>

            <h3 class="govuk-heading-s">Express dispatch</h3>
    
            <p class="govuk-body">It costs £50 for a certified document with express dispatch. Incorporation packages cost £100. 
              Orders received before 11am will be sent out the same day. Orders received after 11am will be 
              sent out the next working day. Orders can be sent to a UK or international address.</p>
    
            <p class="govuk-body">We send UK orders by Royal Mail 1st Class post and international orders by Royal Mail International post.</p>

            <p class="govuk-body">You cannot pay using a Companies House account. </p>
        </div>
    </div>
{% endblock %}
