{% extends "layout.html" %}

{% block pageTitle %}
  Check details - Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post">
        {% include "includes/csrf_token.html" %}

            <h1 id="pageHeading" class="govuk-heading-xl">Check your certificate</h1>

            <h2 id="cert-options-heading" class="govuk-heading-m">Certificate options</h2>

          {% if isNotDissolutionCertificateType %}
            {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: optionFilter([
                {
                  id: "companyName",
                  key: {
                    text: "Company name",
                    classes: 'govuk-!-width-one-half'
                  },
                  value: {
                    text: companyName
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "company name"
                      }
                    ]
                  }
                },
                {
                  id: "companyNumber",
                  key: {
                    text: "Company number"
                  },
                  value: {
                    text: companyNumber
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "company number"
                      }
                    ]
                  }
                },
                {
                  id: "certificateType",
                  key: {
                    text: "Certificate type"
                  },
                  value: {
                    text: certificateType
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "certificate type"
                      }
                    ]
                  }
                },
                {
                  id: "statementOfGoodStanding",
                  key: {
                    text: "Summary statement previously known as statement of good standing"
                  },
                  value: {
                    classes: "statementOfGoodStanding",
                    text: statementOfGoodStanding
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "summary statement previously known as statement of good standing"
                      }
                    ]
                  }
                },
                {
                  id: "registeredOfficeAddress",
                  key: {
                    text: "Registered office address"
                  },
                  value: {
                    classes: "registeredOfficeAddress",
                    text: registeredOfficeAddress
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "Registered office address"
                      }
                    ]
                  }
                },
                {
                  id: "designatedMembers",
                  key: {
                    text: "The names of all current designated members"
                  },
                  value: {
                    classes: "currentDesignatedMembersNames",
                    html: currentDesignatedMembersNames
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "current designated members names"
                      }
                    ]
                  }
                },
                {
                  id: "members",
                  key: {
                    text: "The names of all current members"
                  },
                  value: {
                    classes: "currentMembersNames",
                    html: currentMembersNames
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "current members names"
                      }
                    ]
                  }
                },
                {
                  id: "liquidators",
                  key: {
                    text: "Liquidators' details"
                  },
                  value: {
                    classes: "liquidators",
                    text: liquidatorsDetails
                  },
                  actions: {
                    items: [
                      {
                        visuallyHiddenText: "liquidators' details"
                      }
                    ]
                  }
                },
                {
                  id: "administrators",
                  key: {
                    text: "Administrators' details"
                  },
                  value: {
                    classes: "administrators",
                    text: administratorsDetails
                  },
                  actions: {
                    items: [
                      {
                        visuallyHiddenText: "administrators' details"
                      }
                    ]
                  }
               },
               {
                  key: {
                    text: "Dispatch method",
                    classes: 'govuk-!-width-one-half'
                  },
                  value: {
                    text: deliveryMethod
                  },
                  actions: {
                    items: [
                      {
                        visuallyHiddenText: "dispatch method"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Email copy required"
                  },
                  value: {
                    html: emailCopyRequired
                  },
                  actions: {
                    items: [
                      {
                        visuallyHiddenText: "email copy required"
                      }
                    ]
                  }
                },
                {
                  id: "quantity",
                  key: {
                    text: "Quantity"
                  },
                  value: {
                    text: quantity
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "quantity"
                      }
                    ]
                  }
                }
              ], filterMappings)
            }) }}

            <p class="govuk-body"> To change your certificate options, you'll need to <a id="restartOrder" href="{{ changeIncludedOn }}" class="govuk-link">start the order again</a>.</p>

          {% else %}
            {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Company name",
                    classes: 'govuk-!-width-one-half'
                  },
                  value: {
                    text: companyName
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "company name"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Company number"
                  },
                  value: {
                    text: companyNumber
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "company number"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Certificate type"
                  },
                  value: {
                    text: certificateType
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "certificate type"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Dispatch method"
                  },
                  value: {
                    text: deliveryMethod
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "dispatch method"
                      }
                    ]
                  }
                },
                {
                  id: "emailCopy",
                  key: {
                    text: "Email copy required"
                  },
                  value: {
                    html: emailCopyRequired
                  },
                  actions: {
                    items: [
                      {
                        visuallyHiddenText: "email copy required"
                      }
                    ]
                  }
                },
                {
                  id: "quantity",
                  key: {
                    text: "Quantity"
                  },
                  value: {
                    text: quantity
                  },
                  actions: {
                    items: [
                      {
                      visuallyHiddenText: "quantity"
                      }
                    ]
                  }
                }
              ]
            }) }}
          {% endif %}

      </form>

    </div>
  </div>
{% endblock %}
