{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
    Choose certificate information
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/orderable/certificates"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        {{ govukCheckboxes({
            idPrefix: "more-info",
            name: "moreInfo",
            fieldset: {
            legend: {
            text: "What information would you like to be included on the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "goodStanding",
            text: "Statement of good standing",
            hint: {
              text: "A statement that the company is in good standing (not added if the company is not in good standing)."
            },
            checked: true if itemOptions.includeGoodStandingInformation else false
          },
          {
            value: "registeredOffice",
            text: "Registered office address",
            hint: {
              text: "The current registered office address, no dates included."
            },
            checked: true if itemOptions.registeredOfficeAddressDetails.includeAddressRecordsType == "current" else false
          },
          {
            value: "directors",
            text: "Directors",
            hint: {
             text: "The names of all current company directors."
            },
            checked: true if itemOptions.directorDetails.includeBasicInformation else false
          },
          {
            value: "secretaries",
            text: "Secretaries",
            hint: {
              text: "The names of all current company secretaries."
            },
            checked: true if itemOptions.secretaryDetails.includeBasicInformation else false
          },
          {
            value: "companyObjects",
            text: "Company objects",
            hint: {
              text: "Summary of company objects."
            },
            checked: true if itemOptions.includeCompanyObjectsInformation else false
          }
        ]
        }) }}
        
        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
        }) }}

  </form>
</div>
</div>
{% endblock %}