{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Tell us about collection details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "good-standing",
    attributes: {
      "data-event-id": "back-button"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: ERROR_SUMMARY_TITLE,
          errorList: errorList
        }) }}
      {% endif %}

      {% if collectionErr.flag %}
        {% set collectionErrorMessage = {
          text: collectionErr.text
        } %}
      {% endif %}

      {{ govukRadios({
        idPrefix: "collection-office",
        name: "collectionOffice",
        errorMessage: collectionErrorMessage,
        fieldset: {
          legend: {
            text: "Which Companies House office do you want to collect from?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Opening hours are between 9am to 5pm (Monday to Friday)."
        },
        items: [
          {
            value: "belfast-office",
            text: "Belfast"
          },
          {
            value: "cardiff-office",
            text: "Cardiff"
          },
          {
            value: "edinburgh-office",
            text: "Edinburgh"
          },
          {
            value: "london-office",
            text: "London"
          }
        ]
      }) 
      }}

      {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
      }) }}
    </form>
    </div>
  </div>

{% endblock %}