{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
    Delivery options - Order a certificate - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: ERROR_SUMMARY_TITLE,
            errorList: errorList
          }) }}
        {% endif %}

        {% if collectionErr.flag %}
          {% set collectionErrorMessage = {
            text: collectionErr.text
          } %}
        {% endif %}

        {{ govukRadios({
            idPrefix: "deliveryOptions",
            id:"deliveryOptions",
            name: "deliveryOptions",
            fieldset: {
            legend: {
            text: "Choose a delivery option",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: deliveryOptionsErrorData,
        items:[
          {
            value: "same-day",
            text: "Express (£" + EXPRESS_COST + ")",
            hint: {
              text: "Orders received before 11am are dispatched the same day. Orders received after 11am will be dispatched the next working day."
            },
            attributes: {
              "data-event-id" : "express-delivery"
            },
            checked: true if deliveryOption == 'same-day'
          },
          {
            value: "standard",
            text: "Express (£" + STANDARD_COST + ")",
            hint: {
              text: "We will aim to dispatch the order within " + DISPATCH_DAYS + " working days."
            },
            attributes: {
              "data-event-id" : "standard-delivery"
            },
            checked: true if deliveryOption == 'standard'
          }
        ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
        }) }}

  </form>
</div>
</div>
{% endblock %}
