{% extends "layout.html" %}

{% block pageTitle %}
  Order a certificate
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/more"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Order a certificate</h1>

      <p class="govuk-body">Use this service to order a signed certificate of incorporation for a company. You can include good standing information.</p>

      <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: orderDetailsUrl,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        attributes: {
          "data-event-id": "start-now-button"
        }
      }) }}

      <h2 class="govuk-heading-m">Fee</h2>

      <p class="govuk-body">It costs £15 for a certificate with standard collection (4 working days) from a <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening" class="govuk-link">Companies House office</a>.</p>

      <p class="govuk-body"> You can pay by MasterCard, Visa, Electron, Maestro or Delta debit or credit card. You can not pay using a Companies House account.</p>

    </div>
  </div>
{% endblock %}