{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Order a certificate
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Order a certificate</h1>

      <p class="govuk-body">Use this service to order certificates for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>incorporation </li>
        <li>dissolution/liquidation</li>
      </ul>

      <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

      <a id="start-now" href="/orderable/certificates/good-standing" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-event-id="start-now-button">Start now</a>


      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">Certificates cost £50 for next day delivery or collection (Companies House office). £15 for delivery or collection within 4 working days. Additional copies are £10. </p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

    </div>
  </div>
{% endblock %}
