{% extends "layout.html" %}

{% block pageTitle %}
  Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/more"
  }) }}
{% endblock %}

{% block content %}

    {% if basketLimitState == "display-limit-error" %}
      {{ govukErrorSummary({
        titleText: ERROR_SUMMARY_TITLE,
        errorList: [
          {
            text: "Your basket is full. To add more to your order, you'll need to remove some items first.",
            href: basketWebUrl
          }
        ]
      }) }}
    {% endif %}

  {% if companyStatus === "active" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-caption-l">{{ companyName }}</p>
        <h1 class="govuk-heading-xl">Order a company certificate</h1>

        {% if basketLimitState == "display-limit-error" %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title">
                Your basket is full
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                You cannot add more than {{ basketLimit }} items to your order.
                To add more, you'll need to remove some items first.
              </p>
            </div>
          </div>
         {% endif %}

        <p class="govuk-body-l">Use this service to order a signed certificate for a company, including all company name changes. </p>

        <p class="govuk-body-m">You can add company information to the certificate, including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a summary statement (this used to be known as statement of good standing)</li>
          <li>principal place of business</li>
          <li>general partners</li>
          <li>limited partners</li>
          <li>general nature of business</li>
        </ul>

        {% if companyStatus !== "administration" and companyStatus !== "liquidation" %}
        <p class="govuk-body">If you want to add a summary statement, the company must meet certain requirements. Read the <a class="govuk-link" href="https://www.gov.uk/guidance/order-certified-copies-and-certificates-from-companies-house">guidance on ordering certified documents and certificates</a> for more information.</p>
        {% endif %}

        <p class="govuk-body">You can order additional copies of a certificate if you need to.</p>

        <div class="govuk-inset-text">
          A company certificate is different to the certificate of incorporation from when the company was formed. Copies of these can be ordered through the <a href="{{ moreTabUrl }}" class='govuk-link' data-event-id="certified-copies-from-certificates">Order a certified document service</a>.
        </div>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You should check the company information is up to date before you order. The information on the certificate will be taken from the company's filing history at the time of ordering.</p>

        <h2 class="govuk-heading-m">What you'll need</h2>
        <p class="govuk-body">You'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to sign in to or create an account</li>
          <li>a debit or credit card</li>
        </ul>

        <p class="govuk-body">To order for a different company,
          <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register</a>.</p>

        {{ govukButton({
          text: "Start now",
          href: startNowUrl,
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true,
          disabled: basketLimitState == 'display-limit-error',
          attributes: {
            "data-event-id": "start-now-button",
            onclick: "_paq.push(['trackGoal'," + CERTIFICATE_PIWIK_START_GOAL_ID + "]);"
          }
        }) }}

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Costs</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Service</th>
              <th scope="col" class="govuk-table__header app-custom-class">Cost</th>
              <th scope="col" class="govuk-table__header app-custom-class">Dispatch information</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Standard</th>
              <td class="govuk-table__cell">£15</td>
              <td class="govuk-table__cell">We will aim to send out the order within 10 working days. We send UK orders by Royal Mail 2nd Class post and international orders by Royal Mail International Standard post.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Express</th>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Orders received before 11am will be sent out the same working day. Orders received after 11am will be sent out the next working day. We send UK orders by Royal Mail 1st Class post and international orders by Royal Mail International post.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Additional copies</th>
              <td class="govuk-table__cell">£10 each</td>
              <td class="govuk-table__cell">You can order up to 10 additional copies of a certificate. We'll include any additional copies when we send your standard or express order.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% if companyStatus === "dissolved" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-caption-l">{{ companyName }}</p>
        <h1 class="govuk-heading-xl">Order a certificate</h1>

        <p class="govuk-body-l">Use this service to order a signed certificate of dissolution for a company, including all company name changes. </p>

        <p class="govuk-body">You can order additional copies of a certificate if you need to.</p>

        <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

        {% if basketLimitState == "below-limit" %}
          <p class="govuk-body">To order for a different company,
            <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register</a>.</p>
          {% else %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Your basket is full
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                You cannot add more than {{ basketLimit }} items to your order.
                To add more, you'll need to remove some items first.
              </p>
            </div>
          </div>
         {% endif %}

        {{ govukButton({
          text: "Start now",
          href: startNowUrl,
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true,
          disabled: basketLimitState == 'display-limit-error',
          attributes: {
            "data-event-id": "start-now-button",
            onclick: "_paq.push(['trackGoal'," + DISSOLVED_CERTIFICATE_PIWIK_START_GOAL_ID + "]);"
          }
        }) }}

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Costs</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Service</th>
              <th scope="col" class="govuk-table__header app-custom-class">Cost</th>
              <th scope="col" class="govuk-table__header app-custom-class">Dispatch information</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Standard</th>
              <td class="govuk-table__cell">£15</td>
              <td class="govuk-table__cell">We will aim to send out the order within 10 working days. We send UK orders by Royal Mail 2nd Class post and international orders by Royal Mail International Standard post.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Express</th>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Orders received before 11am will be sent out the same working day. Orders received after 11am will be sent out the next working day. We send UK orders by Royal Mail 1st Class post and international orders by Royal Mail International post.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Additional copies</th>
              <td class="govuk-table__cell">£10 each</td>
              <td class="govuk-table__cell">You can order up to 10 additional copies of a certificate. We'll include any additional copies when we send your standard or express order.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
