{% extends "layout.html" %}

{% set notificationHtml %}
  <p class="govuk-notification-banner__heading">
    This order will be for {{ companyName }} ({{ companyNumber }}).
    <p>If you want to order a certificate for a different company, you will need to
    <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register,</a>
    then use the 'More' tab on the company page to re-enter this service.</p>
  </p>
{% endset %}

{% block pageTitle %}
  Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/more"
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: notificationHtml
  }) }}

  {% if companyStatus === "active" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-xl">Order a certificate</h1>

        <p class="govuk-body-l">Use this service to order a signed certificate of incorporation for a company, including all company name changes. </p>

        <p class="govuk-body-m">You can add certain information to the certificate, including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>statement of good standing</li>
          <li>principal place of business</li>
          <li>general partners</li>
          <li>limited partners</li>
          <li>general nature of business</li>
        </ul>

        <div class="govuk-inset-text">
          This certificate is different to the incorporation documents that were issued when the company was formed. Copies of these can be ordered through the <a href="{{ moreTabUrl }}" class='govuk-link' data-event-id="certified-copies-from-certificates">Order a certified document service</a>.
        </div>

        <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

        {{ govukButton({
          text: "Start now",
          href: startNowUrl,
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true,
          attributes: {
            "data-event-id": "start-now-button",
            onclick: "_paq.push(['trackGoal'," + CERTIFICATE_PIWIK_START_GOAL_ID + "]);"
          }
        }) }}

        <h2 class="govuk-heading-m">Fee</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>£15 for standard dispatch to a UK or international address. We will aim to send out the order within
            {{ DISPATCH_DAYS }} working days. We send UK orders by Royal Mail 2nd Class post and international orders 
            by Royal Mail International Standard post.</li>
          <li>£50 for express dispatch to a UK or international address. Orders received before 11am will be sent out
            the same working day. Orders received after 11am will be sent out the next working day. We send UK orders 
            by Royal Mail 1st Class post and international orders by Royal Mail International post.</li>
        </ul>

        <p class="govuk-body">The express dispatch option can include an email copy of the certificate. This will be sent to the email address used to place the order.</p>

        <p class="govuk-body"> You can pay by debit or credit card. You cannot pay using a Companies House account. </p>

      </div>
    </div>
  {% endif %}

  {% if companyStatus === "dissolved" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Order a certificate</h1>

        <p class="govuk-body-l">Use this service to order a signed certificate of dissolution for a company, including all company name changes. </p>

        <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

        {{ govukButton({
          text: "Start now",
          href: startNowUrl,
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true,
          attributes: {
            "data-event-id": "start-now-button",
            onclick: "_paq.push(['trackGoal'," + DISSOLVED_CERTIFICATE_PIWIK_START_GOAL_ID + "]);"
          }
        }) }}

        <h2 class="govuk-heading-m">Fee</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>£15 for standard dispatch to a UK or international address. We will aim to send out the order within
            {{ DISPATCH_DAYS }} working days. We send UK orders by Royal Mail 2nd Class post and international orders 
            by Royal Mail International Standard post.</li>
          <li>£50 for express dispatch to a UK or international address. Orders received before 11am will be sent out
            the same working day. Orders received after 11am will be sent out the next working day. We send UK orders 
            by Royal Mail 1st Class post and international orders by Royal Mail International post.</li>
        </ul>

        <p class="govuk-body">The express dispatch option can include an email copy of the certificate. This will be sent to the email address used to place the order.</p>

        <p class="govuk-body"> You can pay by debit or credit card. You cannot pay using a Companies House account. </p>

      </div>
    </div>
  {% endif %}
{% endblock %}
