{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
    Certificate options - Order a certificate - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/orderable/certificates"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
        {{ govukCheckboxes({
            idPrefix: "more-info",
            name: "moreInfo",
            fieldset: {
            legend: {
            text: "What information would you like to be included on the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "goodStanding",
            text: "Statement of good standing",
            hint: {
              text: "A statement that the company is in good standing (not added if the company is not in good standing)."
            },
            checked: true if itemOptions.includeGoodStandingInformation else false,
            attributes: {
              "data-event-id" : "good-standing-option"
            }
          },
          {
            value: "principalPlaceOfBusiness",
            text: "Principal place of business",
            hint: {
              text: "This can include current and previous addresses. No dates are included."
            },
            checked: true if itemOptions.principalPlaceOfBusinessDetails.includeAddressRecordsType else false,
            attributes: {
              "data-event-id" : "principal-place-of-business-option"
            }
          },
          {
            value: "generalPartners",
            text: "General Partners",
            hint: {
             text: "Details of all current general partners."
            },
            checked: true if itemOptions.generalPartnerDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "general-partners-option"
            }
          },
          {
            value: "limitedPartners",
            text: "Limited Partners",
            hint: {
              text: "Details of all current limited partners."
            },
            checked: true if itemOptions.limitedPartnerDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "limited-partners-option"
            }
          },
          {
            value: "generalNatureOfBusiness",
            text: "General nature of business",
            hint: {
              text: "Summary of company's principal nature of business."
            },
            checked: true if itemOptions.includeGeneralNatureOfBusinessInformation else false,
            attributes: {
              "data-event-id" : "general-nature-of-business-option"
            }
          }
        ]
        }) }}
        
        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
        }) }}

  </form>
</div>
</div>
{% endblock %}