{% extends "certificates/index.html" %}

{% block body %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Order a certificate</h1>

        <p class="govuk-body-l">Use this service to order a signed certificate of incorporation for a company, including
            all company name changes. </p>

        <p class="govuk-body-m">You can add certain information to the certificate, including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>statement of good standing</li>
            <li>registered office address</li>
            <li>directors</li>
            <li>secretaries</li>
            <li>company objects</li>
        </ul>

        <div class="govuk-inset-text">
            This certificate is different to the incorporation documents that were issued when the company was formed.
            Copies of these can be ordered through the <a href="{{ moreTabUrl }}" class='govuk-link'
                                                          data-event-id="certified-copies-from-certificates">Order a
            certified document service</a>.
        </div>

        <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>

        {{ govukButton({
        text: "Start now",
        href: startNowUrl,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        attributes: {
        "data-event-id": "start-now-button",
        onclick: "_paq.push(['trackGoal'," + CERTIFICATE_PIWIK_START_GOAL_ID + "]);"
        }
        }) }}

        <h2 class="govuk-heading-m">Fee</h2>

        <p class="govuk-body">Certificates cost £15 for standard delivery to a UK or international address. We will aim
            to dispatch the certificate within {{ DISPATCH_DAYS }} working days.</p>

        <p class="govuk-body"> You can pay by debit or credit card. You cannot pay using a Companies House account. </p>

    </div>
</div>
{% endblock %}