{% extends "layout.html" %}

{% block pageTitle %}
  Check your order details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "delivery-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post">

            <h1 class="govuk-heading-xl">Check your order details</h1>

            <h2 class="govuk-heading-m">Order details</h2>

            {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Company name",
                    classes: 'govuk-!-width-one-half'
                  },
                  value: {
                    text: companyName
                  }
                },
                {
                  key: {
                    text: "Company number"
                  },
                  value: {
                    text: companyNumber
                  }
                },
                {
                  key: {
                    text: "Certificate type"
                  },
                  value: {
                    text: certificateType
                  }
                },
                 {
                  key: {
                    text: "Included on certificate"
                  },
                  value: {
                    html: certificateMappings
                  },
                  actions: {
                    items: [
                      {
                        href: changeIncludedOn,
                        text: "Change",
                        visuallyHiddenText: "Included on certifcate"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Delivery method"
                  },
                  value: {
                    text: deliveryMethod
                  }
                },
                {
                  key: {
                    text: "Delivery details"
                  },
                  value: {
                    html: deliveryDetails
                  },
                  actions: {
                    items: [
                      {
                        href: changedeliveryDetails,
                        text: "Change",
                        visuallyHiddenText: "delivery address"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Fee"
                  },
                  value: {
                    text: fee
                  }
                }
              ]
            }) }}

        {{ govukButton({
          text: "Continue to payment",
          id: "submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}