{% extends "layout.html" %}

{% block pageTitle %}
  Director options - Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
      {% include "includes/csrf_token.html" %}

      {{ govukCheckboxes({
        idPrefix: "director-options",
        name: "directorOptions",
        fieldset: {
          legend: {
            text: "What director information do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "On 18th November 2025 the requirement for officers to provide Companies House with a business occupation was removed and it can no longer be included on certified certificates. The certificate will include the names of all current company directors, and any of the details you choose below."
        },
        items: [
          {
            value: "address",
            text: "Correspondence address",
            checked: true if directorDetails.includeAddress else false,
            attributes: {
              "data-event-id" : "certificate-director-corr-addr"
            }
          },
          {
            value: "dob",
            text: "Date of birth (month and year)",
            checked: true if directorDetails.includeDobType else false,
            attributes: {
              "data-event-id" : "certificates-director-dob"
            }
          },
          {
            value: "appointment",
            text: "Appointment date",
            checked: true if directorDetails.includeAppointmentDate else false,
            attributes: {
              "data-event-id" : "certificate-director-appt-date"
            }
          },
          {
            value: "nationality",
            text: "Nationality",
            checked: true if directorDetails.includeNationality else false,
            attributes: {
              "data-event-id" : "certificate-director-nationality"
            }
          },
          {
            value: "countryOfResidence",
            text: "Country of residence",
            checked: true if directorDetails.includeCountryOfResidence else false,
            attributes: {
              "data-event-id" : "certificate-director-country"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          "data-event-id": "continue-button",
          id: "submit"
          }
      }) }}

      </form>
  </div>
</div>  
{% endblock %}