{% extends "layout.html" %}

{% block pageTitle %}
  Director information
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "registered-office-options"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/director-options" method="post">

      {{ govukCheckboxes({
        idPrefix: "director-options",
        name: "director-options",
        fieldset: {
          legend: {
            text: "What director information do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "The certificate will include the names of all current company directors, and any of the details you choose below."
        },
        items: [
          {
            value: "address",
            text: "Correspondence address",
            attributes: {
              "data-event-id" : "certificate-director-corr-addr"
            }
          },
          {
            value: "occupation",
            text: "Occupation",
            attributes: {
              "data-event-id" : "certificate-director-occupation"
            }
          },
          {
            value: "dob",
            text: "Date of birth (month and year)",
            attributes: {
              "data-event-id" : "certificates-director-dob"
            }
          },
          {
            value: "appointment",
            text: "Appointment date",
            attributes: {
              "data-event-id" : "certificate-director-appt-date"
            }
          },
          {
            value: "nationality",
            text: "Nationality",
            attributes: {
              "data-event-id" : "certificate-director-nationality"
            }
          },
          {
            value: "country-of-residence",
            text: "Country of residence",
            attributes: {
              "data-event-id" : "certificate-director-country"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
  </div>
</div>  
{% endblock %}