{% extends "layout.html" %}

{% set notificationHtml %}
  <p class="govuk-notification-banner__heading">
    This order will be for {{ companyName }} ({{ companyNumber }}).
    <p>If you want to order a certificate for a different company, you will need to
    <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register,</a>
    then use the 'More' tab on the company page to re-enter this service.</p>
  </p>
{% endset %}

{% block pageTitle %}
  Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/more"
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: notificationHtml
  }) }}

  {% block body %}{% endblock %}
{% endblock %}
