{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
    Certificate options - Order a certificate - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/orderable/certificates"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        {{ govukCheckboxes({
            idPrefix: "more-info",
            name: "moreInfo",
            fieldset: {
            legend: {
            text: "What information would you like to be included on the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: optionFilter([
          {
            value: "goodStanding",
            text: "Summary statement previously known as statement of good standing",
            hint: {
              text: "The summary statement will not be added if the company does not meet the requirements, <a href="https://www.gov.uk/guidance/order-certified-copies-and-certificates-from-companies-house" class="govuk-link" data-event-id="guidance-on-additional-facts-from-certificates">see guidance on additional facts added to certificates</a>"
            },
            checked: true if itemOptions.includeGoodStandingInformation else false,
            attributes: {
              "data-event-id" : "good-standing-option"
            }
          },
          {
            value: "registeredOffice",
            text: "Registered office address",
            hint: {
              text: "This can include current and previous addresses. No dates are included."
            },
            checked: true if itemOptions.registeredOfficeAddressDetails.includeAddressRecordsType else false,
            attributes: {
              "data-event-id" : "registered-office-address-option"
            }
          },
          {
            value: "directors",
            text: "Directors",
            hint: {
             text: "Details of all current directors."
            },
            checked: true if itemOptions.directorDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "directors-option"
            }
          },
          {
            value: "secretaries",
            text: "Secretaries",
            hint: {
              text: "Details of all current secretaries."
            },
            checked: true if itemOptions.secretaryDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "secretaries-option"
            }
          },
          {
            value: "companyObjects",
            text: "Company objects",
            hint: {
              text: "Summary of company objects."
            },
            checked: true if itemOptions.includeCompanyObjectsInformation else false,
            attributes: {
              "data-event-id" : "company-objects-option"
            }
          },
          {
            value: "liquidators",
            text: "Liquidators",
            hint: {
              text: "Details of appointed liquidators."
            },
            checked: true if itemOptions.liquidatorsDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "liquidators-option"
            }
          },
          {
            value: "administrators",
            text: "Administrators",
            hint: {
              text: "Details of appointed administrators."
            },
            checked: true if itemOptions.administratorsDetails.includeBasicInformation else false,
            attributes: {
              "data-event-id" : "administrators-option"
            }
          }
        ], filterMappings)
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
        }) }}

  </form>
</div>
</div>
{% endblock %}
