{% extends "layout.html" %}

{% block pageTitle %}
  Secretary options - Order a certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
      {% include "includes/csrf_token.html" %}

        <h1 class="govuk-heading-xl">What secretary information do you need?</h1>

        <p class="govuk-body">We aim to include the names of all current company secretaries, along with any of the details you choose below.</p>

        {{ govukInsetText({
          text: "Not all companies have secretary information, so we can only include the details that have been filed with us."
        }) }}


        {{ govukCheckboxes({
          idPrefix: "secretary-options",
          name: "secretaryOptions",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "address",
              text: "Correspondence address",
              checked: true if secretaryDetails.includeAddress else false,
              attributes: {
                "data-event-id": "certificate-secretary-corr-addr"
              }
            },
            {
              value: "appointment",
              text: "Appointment date",
              checked: true if secretaryDetails.includeAppointmentDate else false,
              attributes: {
                "data-event-id": "certificate-secretary-appt-date"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
            }
        }) }}

      </form>
  </div>
</div>  
{% endblock %}