{% extends "layout.html" %}

{% block pageTitle %}
  Check details - Request a document - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backUrl 
  }) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form method="post">
            <h1 class="govuk-heading-xl">Confirm this is the document you want to order</h1>

            <h2 class="govuk-heading-m">Document details</h2>

            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Company name
                </dt>
                <dd class="govuk-summary-list__value" id="companyNameValue">
                {{ companyName }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Company number
                </dt>
                <dd class="govuk-summary-list__value" id="companyNumberValue">
                {{ companyNumber }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Date
                </dt>
                <dd class="govuk-summary-list__value" id="filingHistoryDateValue">
                {{ filingHistoryDate }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Type
                </dt>
                <dd class="govuk-summary-list__value" id="filingHistoryTypeValue">
                {{ filingHistoryType }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Description
                </dt>
                <dd class="govuk-summary-list__value" id="filingHistoryDescriptionValue">
                {{ filingHistoryDescription }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Fee
                </dt>
                <dd class="govuk-summary-list__value" id="totalCostValue">
                {{ totalCost }}
                </dd>
            </div>
            </dl>
            <p class="govuk-body">
              It can take us several hours to check the availability of a document. We will aim to add it to the company’s filing history
              that day if the request is received between 8:30am and 3pm, Monday to Friday (excluding bank holidays).</p>

            <p class="govuk-body">If you make the request after 3pm, we will add the document the next working day.</p>

            {{ govukButton({
                text: "Continue to payment",
                id: "submit"
            }) }}
            <p> <a href="/" class="govuk-link govuk-link--no-visited-state">Cancel</a> </p>
            </form>
    </div>
  </div>
{% endblock %}
