{% extends "layout.html" %}

{% set notificationHtml %}
  {% if basketLimitState == "below-limit" %}
    <p class="govuk-notification-banner__heading">
      This request will be for {{ companyName }} ({{ companyNumber }}).
      <p>If you want to request a document for a different company, you will need to
      <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/">search for the company on the register.</a>
      In the company's filing history, select 'Request document' for the document you require.</p>
    </p>
  {% else %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Your basket is full
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You cannot add more than {{ basketLimit }} items to your order.
          To add more, you'll need to remove some items first.
        </p>
      </div>
    </div>
  {% endif %}
{% endset %}

{% block pageTitle %}
  Request a document - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/company/" + companyNumber + "/filing-history"
  }) }}
{% endblock %}

{% block content %}
  {% if basketLimitState == "display-limit-error" %}
    {{ govukErrorSummary({
      titleText: ERROR_SUMMARY_TITLE,
      errorList: [
        {
          text: "Your basket is full. To add more to your order, you'll need to remove some items first.",
          href: basketWebUrl
        }
      ]
    }) }}
  {% else %}
    {{ govukNotificationBanner({
        html: notificationHtml
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Request a document</h1>

      <p class="govuk-body-l">Use this service to ask us to add a document to a company's filing history if it is not currently available. </p>

      <h2 class="govuk-heading-m">How long it takes</h2>

      <p class="govuk-body">It can take us several hours to check the availability of a document. We will aim to add it to a company's filing history that day if the
        request is received between 8:30am and 3pm, Monday to Friday (excluding bank holidays).
      </p>

      <p class="govuk-body">If you make a request after 3pm, we will add the document the next working day.</p>

      <p class="govuk-body">After you have made the request, you can check the company's filing history for updates on the document's availability.</p>


      <p class="govuk-body">Requesting a document takes around 5 minutes.</p>


      {{ govukButton({
        text: "Start now",
        href: startNowUrl,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        disabled: basketLimitState == 'display-limit-error',
        attributes: {
          "data-event-id": "start-now-button",
          onclick: "_paq.push(['trackGoal'," + MISSING_IMAGE_DELIVERY_PIWIK_START_GOAL_ID + "]);"
        }
      }) }}

      <h2 class="govuk-heading-m">Fee</h2>

      <p class="govuk-body">It costs £3 to request a document. If we cannot add the document to the filing history we will contact you to issue a refund.</p>

      <p class="govuk-body"> You can pay by debit or credit card. You cannot pay using a Companies House account. </p>

    </div>
  </div>
{% endblock %}
