<div id="chs-customer-insights">
   <a href="https://www.smartsurvey.co.uk/s/getcompanyinformation/" target="_blank" class="govuk-link">Tell us what you think of this service<span class="hidden">(link opens a new window)</span></a>
   <a id="feedback-link" href="/help/feedback?sourceurl={{ FEEDBACK_SOURCE }}"  class="secondary-customer-insights govuk-link" target="_blank">Is there anything wrong with this page?<span class="hidden">(link opens a new window)</span></a>
</div>
<footer id="footer" class="govuk-footer {{ params.classes if params.classes }}" role="contentinfo"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-width-container {{ params.containerClasses if params.containerClasses }}">
    {% if params.navigation %}
      <div class="govuk-footer__navigation">
        {% for nav in params.navigation %}
          <div class="govuk-footer__section">
            <h2 class="govuk-footer__heading govuk-heading-m">{{ nav.title }}</h2>
            {% if nav.items %}
              {% set listClasses %}
                {% if nav.columns %}
                  govuk-footer__list--columns-{{ nav.columns }}
                {% endif %}
              {% endset %}
              <ul class="govuk-footer__list {{ listClasses | trim }}">
                {% for item in nav.items %}
                  {% if item.href and item.text %}
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                        {{ item.text }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <hr class="govuk-footer__section-break">
    {% endif %}
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        {% if params.meta %}
          <h2 class="govuk-visually-hidden">{{ params.meta.visuallyHiddenTitle | default("Support links") }}</h2>
          {% if params.meta.items %}
            <ul class="govuk-footer__inline-list">
              {% for item in params.meta.items %}
              {% if item.target %}
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="{{ item.href }}" target="{{ item.target }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                    {{ item.text }} <span class="govuk-visually-hidden">{{ params.meta.visuallyHiddenTitle | default("Link opens in new tab") }}</span>
                  </a>
                </li>
                {% else %}
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                    {{ item.text }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          {% if params.meta.text or params.meta.html %}
            <div class="govuk-footer__meta-custom">
              {{ params.meta.html | safe if params.meta.html else params.meta.text }}
            </div>
          {% endif %}
        {% endif %}
        <span class="govuk-footer__inline-list-item">
            Built by <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/companies-house" rel="license">Companies House</a>
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
